<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>pyCrypto</title>
        <link rel="stylesheet" href="/static/css/styles.css" />
        <script src="/static/js/spa.js"></script>
    </head>
    <body>
        <header>
            <h1 class="api-name">.pyCrypto</h1>
        </header>
        <section>
            <div class="transactions-container">
                <h1 class="table-title">Transactions</h1>
                <table class="transactions-table">
                    <thead class="table-head">
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>From</th>
                            <th>Amount</th>
                            <th>To</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody id="investments-table">
                        <!-- js dynamic transactions list -->
                    </tbody>
                </table>
            </div>
            <!-- <div class="status-container">
                <table class="status-table">
                    <tr>
                        <th>Invested</th>
                        <td>7.625,15 €</td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <td>9.000,34 €</td>
                    </tr>
                    <tr>
                        <th>Outcome</th>
                        <td>1.875,20 €</td>
                    </tr>
                </table>
            </div> -->
        </section>
        <button id="add-button">add</button>
        <div
            id="transaction-form"
            class="transaction-register-container disable"
        >
            <div class="form-from">
                <form>
                    <label>From</label>
                    <select id="currency-from" class="currency-list">
                        <option selected disabled>Select a currency</option>
                        <!-- js dynamic currency list -->
                    </select>
                    <input
                        type="number"
                        name="amount-from"
                        id="amount-from"
                        placeholder="Enter your amount"
                    />
                    <button id="convert-button">convert</button>
                </form>
            </div>
            <div class="form-to">
                <form>
                    <label>To</label>
                    <select id="currency-to" class="currency-list">
                        <option selected disabled>Select a currency</option>
                        <!-- js dynamic currency list -->
                    </select>
                    <label
                        >Amount to<input type="text" id="amount-to" disabled
                    /></label>
                    <label
                        >Unit price<input type="text" id="unit-price" disabled
                    /></label>
                </form>
            </div>
            <div class="transaction-buttons">
                <button type="submit" id="submit-button">OK</button>
            </div>
        </div>

        <div id="error-message"></div>

        <footer class="note-footer">© 2021 pyCrypt by irena.vent</footer>
    </body>
</html>
