/* @import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400'); */

@import url("https://fonts.googleapis.com/css?family=Cutive Mono");

:root {
    --color-p: #e6e6e6;
    --color-s: #5c7aea;
    --color-a: #3d56b2;
    --separación-defecto: 8px;
}

.api-name {
    color: var(--color-s);
    font-family: "Cutive Mono";
}

.transactions-table {
    /* box-shadow: 0 1px 1px 0 #5c7aea, 0 1px 0px 0px #5c7aea, 0 1px 4px 0 #5c7aea; */
    border: solid 1px var(--color-s);
    border-radius: 4px;
    font-size: 14px;
    font-family: "Cutive Mono";
    line-height: 2em;
    padding: 10px 10px;
    width: 100%;
}

.table-title {
    color: var(--color-s);
    background-color: var(--color-p);
    padding: 0.4rem;
    font-size: 1rem;
    border-radius: 4px;
    font-family: "Cutive Mono";
}

.table-head {
    color: var(--color-s);
}

td,
th {
    padding: 0 20px;
}

td {
    text-align: center;
}

.form-number-column {
    text-align: right;
}

.transaction-register-container {
    display: flex;
    border: solid 1px var(--color-s);
    border-radius: 4px;
}

#error-message {
    color: red;
    background-color: var(--color-p);
    font-family: "Cutive Mono";
}

#error-message-1 {
    color: red;
    background-color: var(--color-p);
    font-family: "Cutive Mono";
}

#no-transactions-message {
    color: var(--color-a);
    font-size: 14px;
    font-family: "Cutive Mono";
    background-color: aquamarine;
    border-radius: 4px;
}

.transaction-register-container > * {
    margin: 20px 0;
    font-size: 14px;
    font-family: "Cutive Mono";
    padding: 10px;
}

.transaction-register-container :first-child {
    margin-right: 10px;
}

.form-from,
.form-to {
    width: 50%;
}

.form-from form,
.form-to form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form-from form > *,
.form-to form > * {
    margin: 10px;
}

.form-to {
    width: 50%;
}

.transaction-buttons {
    display: flex;
}

#add-button,
#cancel-button {
    color: var(--color-s);
    font-family: "Cutive Mono";
    margin: 10px 0px;
}

#convert-button {
    color: var(--color-s);
    font-family: "Cutive Mono";
}

#save-btn {
    color: var(--color-s);
    font-family: "Cutive Mono";
}

.status-container {
    /* box-shadow: 0 1px 1px 0 #5c7aea, 0 1px 0px 0px #5c7aea, 0 1px 4px 0 #5c7aea; */
    border: solid 1px var(--color-s);
    border-radius: 4px;
    font-size: 14px;
    font-family: "Cutive Mono";
    line-height: 2em;
    padding: 10px 10px;
    /* width: 100%; */
    margin: 10px 0px;
    display: grid;
}

.disable {
    display: none;
}

.note-footer {
    color: var(--color-s);
    padding: 0.4rem;
    font-size: 0.6rem;
    border-radius: 4px;
    font-family: "Cutive Mono";
}
